<div class="card text-center" style="width: 18rem; margin-left: 600px; margin-top: 60px;">
    <div class="card-body" style="background-color: lightgrey;">
      <h5 class="card-title"><b>Contact</b></h5>
      <div class="mb-3">
        <input type="text" class="form-control" id="nama" name="nama" placeholder="Nama" required>
    </div>
    <div class="mb-3">
        <input type="text" class="form-control" id="email" name="email" placeholder="Email" required>
    </div>
    <div class="mb-3">
        <input type="text" class="form-control" id="message" name="message" placeholder="Message" required>
    </div>
      <button type="submit" class="btn btn-primary" style="background-color: white; color: black; border: none;">Submit</button>
    </div>
</div>